In [4]:
# Importação
import pyodbc

In [5]:
# Função de retornar a conexão
def retornar_conexao_sql():
    server = "DESKTOP-15TQLGD\SQLEXPRESS"
    database = "Base_MCDP"
    #username = "aula_mongodb"
    #password = "abc123"
    #string_conexao = 'Driver={SQL Server Native Client 11.0};Server='+server+';Database='+database+';UID='+username+';PWD='+ password
    string_conexao = 'Driver={SQL Server Native Client 11.0};Server='+server+';Database='+database+';Trusted_Connection=yes;'
    conexao = pyodbc.connect(string_conexao)
    return conexao.cursor()

In [7]:
# Variável do cursor
cursor = retornar_conexao_sql()

In [8]:
# Seleção de teste

cursor.execute("SELECT numero FROM tbl_Teste")
row = cursor.fetchone()
if row:
    print(row)

(1, )