In [2]:
# Importação
import pyodbc

In [11]:
# Função de retornar a conexão
def retornar_conexao_sql():
    server = "DESKTOP-15TQLGD\SQLEXPRESS"
    database = "Base_MCDP"
    #username = "aula_mongodb"
    #password = "abc123"
    #string_conexao = 'Driver={SQL Server Native Client 11.0};Server='+server+';Database='+database+';UID='+username+';PWD='+ password
    string_conexao = 'Driver={SQL Server Native Client 11.0};Server='+server+';Database='+database+';Trusted_Connection=yes;'
    return pyodbc.connect(string_conexao)

In [12]:
# Variável do cursor
conexao = retornar_conexao_sql()
cursor = conexao.cursor()

In [ ]:
# CRUD

In [26]:
# R - Read
# Diferença entre fetchone() e fetchall()

sql = "SELECT * FROM tbl_Pessoas;"
cursor.execute(sql)

#linha = cursor.fetchone()
#linhas = cursor.fetchone()
linhas = cursor.fetchall()

for linha in linhas:
    print(linha)

(1, 'Zurubabel', 31)

In [22]:
# C - Create (INSERT)
sql = "INSERT INTO tbl_Pessoas VALUES (2, 'Josias', 66)"

cursor.execute(sql)

In [23]:
conexao.commit()

In [17]:
# U - Update
sql = "UPDATE tbl_Pessoas SET Idade = 31 WHERE cdPessoa = 1"
cursor.execute(sql)
conexao.commit()

In [25]:
# D - Delete
sql = "DELETE FROM tbl_Pessoas where cdPessoa = 2"
cursor.execute(sql)
conexao.commit()